<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Menu page</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</link>
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<h1 class="my-3 ml-3">Menu</h1>

	<div class="row justify-content-center">

		<div class="row">
				<div class="my-3">
<!-- 					<a href="/test/testIndex" th:href="@{/test}" class="btn btn-primary btn-lg">testマスタ</a> -->
					<a href="/csv/csvIndex" th:href="@{/csv}" class="btn btn-primary btn-lg">csvマスタ</a>
					<a href="/syubetsu/syubetsuIndex" th:href="@{/syubetsu}" class="btn btn-primary btn-lg">種別マスタ</a>
					<a href="/gyoumu/gyoumuIndex" th:href="@{/gyoumu}" class="btn btn-primary btn-lg">業務マスタ</a>
					<a href="/office/officeIndex" th:href="@{/office}" class="btn btn-primary btn-lg">事業所マスタ</a>
					<a href="/bank/bankIndex" th:href="@{/bank}" class="btn btn-primary btn-lg">金融機関マスタ</a>
					<a href="/flg/flgIndex" th:href="@{/flg}" class="btn btn-primary btn-lg">フラグマスタ</a>
<!-- 					<a href="/csv/csvUpload" th:href="@{/upload}" class="btn btn-primary btn-lg">csvアップロード</a> -->
				</div>
		</div>
	</div>
</body>
</html>