<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<h1 class="my-3 ml-3">test マスタ</h1>

	<div class="col-5 ml-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>name</th>
					<th>price</th>
					<th>time_stamp</th>

					<th>
						<form th:method="post" th:action="@{/upload/upload}" enctype="multipart/form-data">
							<label style="margin:0;">
								<span class="btn btn-primary">
									csv取込
									<input type="file" name="fileData" style="display:none" onchange="$(this).next().trigger('click')" />
									<input type="submit" style="display:none" />
								</span>
							</label>
						</form>
					</th>
					<th><a href="/test/testNew" class="btn btn-primary">新規作成</a></th>
					<th><a href="/" class="btn btn-info">メニュー</a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="test : ${tests}" th:object="${test}">
					<td th:text="*{id}"></td>
					<td th:text="*{name}"></td>
					<td th:text="*{price}"></td>
					<td th:text="*{time_stamp}"></td>

					<td><a th:href="@{/test/{id}/edit(id=*{id})}"
						class="btn btn-primary">編集</a></td>
					<td>
						<form class="delForm" th:action="@{/test/{id}(id=*{id})}" th:method="post"
							onSubmit="return delcheck()">
							<input type="submit" class="btn btn-danger" value="削除" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<a href="/" class="btn btn-info">メニュー</a><span> <a
			href="/test/testNew" class="btn btn-primary">新規作成</a>
		</span>
	</div>

	<!-- jqueryの場合 -->

	<script>
		//formタグにサブミット時イベントを設定

		$('.delForm').submit(function(event) {

			// 確認メッセージ表示
			// 戻り値を変数resultに代入(trueまたはfalse)
			var result = window.confirm('本当に削除してよろしいですか？');

			// キャンセルボタンが押された場合
			if (result == false) {

				// サブミットを中止する
				return false;
			}
		});
	</script>

	<!-- javascriptの場合

		<script type="text/javascript">

		function delcheck() {

			if (window.confirm('削除してよろしいですか？')) { // 確認ダイアログを表示

				return true; // 「OK」時は送信を実行

			} else { // 「キャンセル」時の処理

				window.alert('キャンセルされました'); // 警告ダイアログを表示
				return false; // 送信を中止

			}
		}

	</script> -->

</body>
</html>